youtube-transcript-api
langchain
langchain-openai
openai
langchain-community
python-dotenv
gradio
chromadb
tiktoken
pytube
fastapi
uvicorn
pydantic
requests
wikipedia
sqlmodel
httpx<0.28
arize-phoenix[evals]
nest-asyncio
openinference-instrumentation-langchain
